*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
main{
    display: grid;
    grid-template-columns: repeat(3,33vw);
    grid-template-rows: 40vh 40vh;
}

section{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 450px){
    main{
        display: flex;
        flex-direction: column;
        color: red;
    }
    
}
