* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  header {
    background-color: #4986b8;
    color: white;
    height: 70px;
    padding: 20px;
    width: 100%;
  }
  
  main {
    /* height: 77vh; */
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    gap: 10px;
  }
  
  main aside,
  main section {
    padding: 10px;
    
  }
  
  .left {
    background-color: moccasin;
  }
  
  section {
    background-color: aliceblue;
  }
  
  .right {
    background-color: mistyrose;
  }
  
  footer {
    
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    width: 100%;
  }

  @media (max-width: 800px){
    main {
      flex-direction: column;
    }
  }

  #container{
    display: flex;
    flex-direction: column;
  }